.details-container {
   display: flex;
}

.details-left {
    display: inline-block;
    margin: auto;
    margin-left: 25%;
}

.details-right {
    display: inline-block;
    margin: auto;
    margin-right: 25%;
}

.details-photo {
    height: 200px;
}

.chem-name {
    text-align: center;
    padding: 10px;
    color: #223843;
}

.details-button {
    margin: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: #D77A61;
    border: 1px solid #D77A61;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.details-button:hover {
    background-color: #d19483;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.details-padding {
    padding: 10px;
}

.chem-details {
    display: flex;
    font-size: 20px;
}

.detail-headers {
    color: #223843;
    font-weight: bold;
    font-size: 20px;
}