.create-update-header {
    text-align: center;
    color: #223843;
}

.create-update-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
    color: #223843;

}

.create-update-input {
    text-align: center;
    margin: auto;
    display: block;
}

.create-update-button {
    margin: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    background-color: #D77A61;
    border: 1px solid #D77A61;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.create-update-button:hover {
    background-color: #d19483;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.create-update-padding {
    padding: 20px;
}