.footer {
    background-color: #223843;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
}

.footer-text {
    color: #EFF1F3;
    padding-left: 20px;
}

.footer-padding{
    padding-top: 15px;
}

.footer-logo {
    height: 105px;
    width: 105px;
    padding: 5px;
}