.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.app-content-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.app-content {
    flex-grow: 1;
    overflow: auto;
}

.top-navbar {
    background-color: #223843;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    height: 80px;
}


.logo {
    width: 105px;
    height: 85px;
    padding: 5px;
    padding-left: 20px;
}

.navbar {
    background-color: #223843;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
}

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.dashboard-content {
    display: flex;
    flex-grow: 1;
}

.navbar {
    background-color: #223843;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* Separate content into left and right */
}

.account-button {
    background-color: #D77A61;
    color: #000000;
    border: 1px solid #223843;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    height: 60%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.account-button:hover {
    background-color: #DBD3D8;
    color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Rest of the CSS remains the same */

.navbar {
    background-color: #223843;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    /* Grouping logo and buttons */
    align-items: center;
    /* Vertical alignment */
}

.right-section {
    display: flex;
    /* Grouping logo and buttons */
    align-items: center;
    /* Vertical alignment */
    margin-right: 12px;
}



/* Rest of the CSS remains the same */

.app-footer {
    width: 100%;
    display: flex;
}